# Libraries needed to run the code
numpy==1.24.1
pandas==2.1.1
scikit_learn==1.3.1
scikit_learn_extra==0.3.0
nbformat>=4.2.0
scipy==1.8.1
nltk==3.7

# Data Versioning, Model and Experiment Tracking
mlflow==2.7.1
dagshub==0.3.8.post2
dvc==3.27.0
dvc-s3==2.23.0
dvc_gdrive==2.20.0
joblib==1.3.2

# Test Requirements
pytest==7.4.3
pylint==3.0.2
flake8==6.1.0
great-expectations==0.18.1

# API
fastapi
uvicorn
pydantic
prometheus_client
python-multipart
prometheus-fastapi-instrumentator

#CODECARBON
codecarbon
arrow
pynvml
requests
psutil
py-cpuinfo
fuzzywuzzy
click
prometheus_client
